<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bee Detection </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.11.2"> </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link rel="stylesheet" href="templates\static\style.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 50px;
        }

        .fact-card {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 20px;
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>
    <!--- Cards -->
    <div class="container mt-5">
        <div class="container">
            <h1 class="text-center mb-4">Bee Facts</h1>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="fact-card">
                        <h3>Fact #1</h3>
                        <p>Bee populations play a crucial role in pollinating many of the world's crops, contributing to
                            global food production.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="fact-card">
                        <h3>Fact #2</h3>
                        <p>Bees communicate with each other by dancing. The waggle dance indicates the direction and
                            distance to a food source.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="fact-card">
                        <h3>Fact #3</h3>
                        <p>Bees are known for producing honey, but they also play a role in producing beeswax, royal
                            jelly, and pollen.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="fact-card">
                        <h3>Fact #4</h3>
                        <p>Bees have five eyes - two large compound eyes and three smaller simple eyes. They can see
                            ultraviolet light, which helps them find nectar.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="fact-card">
                        <h3>Fact #5</h3>
                        <p>Bees are capable of flying at speeds of up to 15 miles per hour and can beat their wings
                            about 200 times per second.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="fact-card">
                        <h3>Fact #6</h3>
                        <p>Bees are critical to the biodiversity of our planet. They pollinate flowers, which helps
                            plants reproduce and grow.</p>
                    </div>
                </div>
            </div>
            <form action="{{url_for('detect')}}" method="post" enctype="multipart/form-data">
                <div class="input-group">
                    <input type="file" name="file" accept=".jpg, .jpeg, .png, .mp4" class="form-control">
                    <div class="input-group-append">
                        <button type="submit" id="detect-button" class="btn btn-primary">Detect Bees</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- <h3 class="text-center">Bee Detection API</h1> -->
    <!-- Display values from the 'output' dictionary if 'success' is True -->
    {% if result.success %}
    <!--- Cards -->
    <div class="container mt-5">
        <!-- ... -->
        <div id="results-section" class="container">
            <h2>Results</h2>

            <p>{{ result.output.detection_duration }}</p>
            <p>{{ result.output.api_time }}</p>
            <p>{{ result.output.video_duration }}</p>

            <!-- Create hyperlinks for downloading CSV and image files -->
            <p>Download CSV: <a href="{{ url_for('download_csv') }}" download>Click here</a></p>
            <!-- <h2>Image:</h2> -->
            <!-- <img src="{{url_for('static' ,filename='imgs/plot.jpeg')}}" alt="Image" class="img-fluid"> -->
            <p>Download Image: <a href="{{ url_for('download_image') }}" download>Click here</a></p>

        </div>
    </div>
    {% else %}
    <div class="container mt-5">

        <p><b> For Results: Try uploading a video and press the Detect Bee Button.</b></p>
        {% endif %}
    </div>

    </div>

    <!--- Meet the team -->
    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <!-- <p class="lead">I completed my B.Tech in Computer Science </p> -->
                <p class="lead"> You can check my resume <a href="static\files\AJAY JOHN ALEX DA CV.pdf"
                        target="_blank"> here </a></p>
                <p class="lead"> Email me at : <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">
                        ajay.alex96@gmail.com.</a>
            </div>

        </div>
    </div>


    <!--- Footer -->
    <footer>
        <div class="container-fluid padding">
            <div class="row welcome text-center">
                <div class="col-12">
                    <hr class="light">
                    <!--- Connect -->
                    <div class="container-fluid padding">
                        <div class="row welcome text-center">
                            <div class="col-12">
                                <h2> Connect</h2>
                            </div>
                            <div class="col-12 social padding">
                                <a href="https://github.com/AjayJohnAlex" target="_blank">
                                    <i class="fab fa-github"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/ajay-john-alex96/" target="_blank">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                                <a href="https://datascienceportfolio.onrender.com" target="_blank">
                                    <i class="fa fa-code"></i>
                                </a>
                                <a href="https://www.instagram.com/ajay_john_alex/" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4">
                </div>

                <div class="col-12">
                    <hr class="light100">
                    <h5>&copy; Ajay John Alex</h5>
                </div>
            </div>
        </div>
    </footer>
</body>

<!-- Include Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>

</html>